<div id="container">
  
 <div class="form-container">
    <form class="row" ion-form (ngSubmit)="login()">
      <ion-row>
        <ion-item lines="around">
          <ion-label color="medium" position="floating">Reg. No</ion-label>
          <ion-input type="text" [(ngModel)]="regNo" name="registration"></ion-input>
        </ion-item>
          <ion-col>
            <ion-button [disabled]="!regNo" type="submit" color="primary" expand="block">View exam card</ion-button>
          </ion-col>
        </ion-row>
    </form>
  </div>
</div>
<div class="footer">
  <p>To see the list of eligible students, see the <a target="_blank" href="https://documenter.getpostman.com/view/11992312/UVeDsn8X">API documentation</a> and make a GET request in eligible students </p>
</div>

