<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Generate exam Card
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Generate exam Card</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="padding: 5%;" *ngIf="!isError && stud" id="examCard" #examCard>
    <app-header [student]="stud"></app-header>
    <app-body [student]="stud"></app-body>
    <app-footer [student]="stud"></app-footer>
    <div class="dl-btn">
    </div>
  </div>
  <button (click)="genPdf()">Download PDF</button>

  <div *ngIf="isError">
    {{isError}}
  </div>

</ion-content>