<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Generate exam Card
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Generate exam Card</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="padding: 5%;" id="download" *ngIf="!isOkay">
    <app-header [student]="student"></app-header>
    <app-body [student]="student"></app-body>
    <app-footer [student]="student"></app-footer>
  </div>
  <button (click)="genPdf('download')">Download PDF</button>

  <div *ngIf="isOkay">
    Please Ensure you have cleared with the finance department
  </div>

</ion-content>